name: Java CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout WGBlockFlags
      uses: actions/checkout@v2
      with:
        path: WGBlockFlags
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2
        restore-keys: ${{ runner.os }}-m2
    
    - name: Build with Maven
      run: mvn -B package -T 1C --file WGBlockFlags/pom.xml

    - name: Stage jar
      run: mkdir staging && cp WGBlockFlags/target/WGBlockFlags.jar staging
    - name: Rename jar
      run: mv staging/WGBlockFlags*.jar staging/WGBlockFlags_$GITHUB_SHA.jar
    - name: Upload jar
      uses: actions/upload-artifact@v2
      with:
        name: WGBlockFlags_Dev-Build
        path: staging/WGBlockFlags_*.jar
